@page "/"

@rendermode InteractiveServer
@inject MetasService metasService
@inject IJSRuntime ijsRuntime


<PageTitle>Consulta</PageTitle>



<h1>Consulta</h1>
<div>
    <a href="/create"><i>Crear Metas</i></a>
</div>


<table class="table">
    <thead>
    <tr>
        <th>Id</th>
        <th>Fecha</th>
        <th>Descripci&oacute;n</th>
        <th>Monto</th>
    </tr>
    </thead>

    <tbody>
        @if (metas.Count == 0)
        {
            @: No hay metas
        }
        @foreach (var metas in metas)
        {
            <tr>
                <td>@metas.MetaId</td>
                <td>@metas.Fecha.ToShortDateString()</td>
                <td>@metas.Descripcion</td>
                <td>@metas.Monto.ToString("N2")</td>
                <td>
                    <div>
                        <a href="/edit/@metas.MetaId" class="btn btn-outline-primary"><i class="bi bi-pencil-fill"/> Editar</a>
                        <a href="/Delete/@metas.MetaId" class="btn btn-outline-danger"><i class="bi bi-trash-fill"/> Eliminar</a>
                    </div>
                </td>
             </tr>
        }
    </tbody>
</table>





@code {
    private MetasFinancieras meta { get; set; } = new MetasFinancieras();
    private List<MetasFinancieras> metas { get; set; } = new List<MetasFinancieras>();


    protected override async Task OnInitializedAsync()
    {
        metas = await metasService.Getist(a => true);
    }

}